
%form{:action => "/issue", :method => "post"}
 %select{:name => "attribute"}
  %option{:value => "test"} test
  %option{:value => "discount"} discount
  %option{:value => "developer"} developer
  %option{:value => "user"} user
 %select{:name => "expiration"}
  %option{:value => "5m"} 5 Minutes
  %option{:value => "1h"} 1 Hour
  %option{:value => "1d"} 1 Day
  %option{:value => "7d"} 1 Week
 %input{:type => "hidden", :name => "subject_key", :value => "#{locals[:subject_key]}"}
 %input.btn.btn-primary{:type => "submit", :value => "Issue Credential"}
%br
%span Credential: #{locals[:credential]}
%br
%br
%a{:class => "button", :href => "http://localhost:8000/index.html#/identities/#{locals[:subject_key]}?redirect_uri=http:%2F%2Fgnunetidentity.gnu:4567%2Flogin&issue_type=ticket&client_id=ZCGJ4R7MC60K13T78F01YRXYQA5YCDQVA4SZY12KFSY4SC3P29ZG&nonce=9450&credential=#{locals[:issueResult]}"}
%see subject's credential


