%div{:class => "col-2", :style => "border-right: 1px dashed #aaa;"}
  %div Username/Password login:
  %div
    %input{:placeholder => "username", :style => "margin-bottom: 1em;", :class => "entry"}
  %div
    %input{:placeholder => "password", :style => "margin-bottom: 1em;", :class => "entry"}
  %a{:class => "button big", :href => "https://gnunet.org"} Login
%div{:class => "col-2", :style => "text-align: center;"}
  %div Identity federation:
  %br
  %a{:class => "button big", :href => "http://facebook.com"} facebook
  %a{:class => "button big", :href => "http://google.com"} google
  %a{:class => "button big", :href => "gnuidentity://?redirect_uri=http%3A%2F%2Fgnunetidentity.gnu%3A4567%2Flogin&client_id=ENTERYOURGNSMASTERPKEYHERE&issue_type=ticket&requested_attrs=phone,full_name&nonce=#{locals[:nonce]}"}
    %span GNU identity

