%div{:class => "col-2", :style => "border-right: 1px dashed #aaa;"}
  %div Username/Password login:
  %div
    %input{:placeholder => "username", :style => "margin-bottom: 1em;", :class => "entry"}
  %div
    %input{:placeholder => "password", :style => "margin-bottom: 1em;", :class => "entry"}
  %a{:class => "button big", :href => "https://gnunet.org"} Login
%div{:class => "col-2", :style => "text-align: center;"}
  %div Identity federation:
  %br
  %a{:class => "button big", :style => "background: #3b5998;", :href => "http://facebook.com"} facebook
  %a{:class => "button big", :style => "background: #ea4335;", :href => "http://google.com"} Google
  %a{:class => "button big", :href => "https://reclaim.id/openid/authorize?redirect_uri=https%3A%2F%2Fshittr.INSERTRPKEYHERE%2Flogin&client_id=INSERTRPKEYHERE&response_type=code&scope=openid%20email&nonce=#{locals[:nonce]}"}
    %span re:claimID

